
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col" *ngIf="!customerLogin">Customer Name</th>
			<th scope="col">Price</th>
			<th scope="col">PickUp Method</th>
			<th scope="col">Special Instructions</th>
			<th scope="col"> PickUp/Delivery Time Remaining</th>
			<th scope="col"> Last update at</th>
			<th scope="col">Ordered On</th>
			<th scope="col" *ngIf="!customerLogin">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let order of filteredOrders; index as i" (click)="viewOrderItems(order?.orderItems)">
			<th scope="row">{{ i + 1 }}</th> 
			<td *ngIf="!customerLogin">
				{{ order.customer?.firstName }}
			</td>
            <td>
				{{ order.orderTotal | currency}}
			</td>
			<td>{{ order.pickupMethod }}</td>
			<td>{{ order.specialInstructions || 'N/A' }}</td>
			<td>{{ order.timeToPickupOrDeliver || 'will be updated soon'}}</td>
			<td>{{ order.lastUpdated}}</td>
			<td>{{ order.orderDate | date:"mediumDate" }}</td>
			<td *ngIf="!customerLogin">
				<button class="btn btn-outline-primary">Update Status</button>

			</td>
		</tr>
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<ngb-pagination
		[collectionSize]="collectionSize"
		[(page)]="page"
		[pageSize]="pageSize"
		(pageChange)="filterOrders()"
	>
	</ngb-pagination>

	<select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="filterOrders()">
		<option [ngValue]="10">10 items per page</option>
		<option [ngValue]="20">20 items per page</option>
		<option [ngValue]="30">30 items per page</option>
	</select>
</div>