<!-- checkout-modal.component.html -->

<div class="modal-header">
  <h4 class="modal-title">Checkout</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="deliveryOption">Select Delivery Option:</label>
    <select class="form-control" id="deliveryOption" [(ngModel)]="order.pickupMethod!">
      <option value="delivery">Delivery</option>
      <option value="pickup">Pickup</option>
    </select>
  </div>

  <div class="form-group">
    <label for="specialIns">Special Instructions:</label>
    <input type="text" class="form-control" id="specialIns" name="specialIns" [(ngModel)]="order.specialInstructions!">
  </div>

  <div class="form-group">
    <label for="paymentOption">Select Payment Option:</label>
    <select class="form-control" id="paymentOption" [(ngModel)]="paymentOption">
      <option value="cash">Cash</option>
      <option value="card">Card</option>
    </select>
  </div>

  <div *ngIf="paymentOption === 'card'" class="form-group">
    <div class="form-group">
      <label for="cardType">Select Card Type:</label>
      <select class="form-control" id="cardType" [(ngModel)]="order.debitOrCredit!">
        <option value="credit">Credit</option>
        <option value="debit">Debit</option>
      </select>
    </div>

    <div class="form-group">
      <label for="cardNumber">Card Number:</label>
      <input type="number" class="form-control" id="cardNumber" name="cardNumber" [(ngModel)]="order.cardNumber!"
        required pattern="[0-9]{16}" #cardNumberInput="ngModel">
    
      <!-- Validation feedback -->
      <div *ngIf="cardNumberInput.invalid && (cardNumberInput.dirty || cardNumberInput.touched)"
       class="text-danger">
        <div *ngIf="cardNumberInput.errors?.['required']">Card number is required.</div>
        <div *ngIf="cardNumberInput.errors?.['pattern']">Invalid card number (must be 16 digits).</div>
      </div>
    </div>

    <div class="form-group">
      <label for="cvv">CVV</label>
      <input type="number" class="form-control" id="cvv" name="cvv" [(ngModel)]="order.cvv!" required
        pattern="[0-9]{3}" #cvvInput="ngModel">
      <!-- Validation feedback -->
      <div *ngIf="cvvInput.invalid && (cvvInput.dirty || cvvInput.touched)"
       class="text-danger">
        <div *ngIf="cvvInput.errors?.['required']">CVV is required.</div>
        <div *ngIf="cvvInput.errors?.['pattern']">Invalid CVV (must be 3 or 4 digits).</div>
      </div>
    </div>

    <div class="form-group">
      <label for="expiryMonth">Expiry Month</label>
      <input type="number" class="form-control" id="expiryMonth" name="expiryMonth" [(ngModel)]="order.expiryMonth!"
        required pattern="[0-9]{1,2}" #expiryMonthInput="ngModel">
      <div *ngIf="expiryMonthInput.invalid && (expiryMonthInput.dirty || expiryMonthInput.touched)"
        class="text-danger">
        <div *ngIf="expiryMonthInput.errors?.['required']">Expiry month is required.</div>
        <div *ngIf="expiryMonthInput.errors?.['pattern']">Invalid expiry month.</div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="expiryYear">Expiry Year</label>
      <input type="number" class="form-control" id="expiryYear" name="expiryYear" [(ngModel)]="order.expiryYear!"
        required pattern="[0-9]{2}" #expiryYearInput="ngModel">
      <div *ngIf="expiryYearInput.invalid && (expiryYearInput.dirty || expiryYearInput.touched)"
        class="text-danger">
        <div *ngIf="expiryYearInput.errors?.['required']">Expiry year is required.</div>
        <div *ngIf="expiryYearInput.errors?.['pattern']">Invalid expiry year.</div>
      </div>
    </div>

    <!-- Other form elements -->
  <!-- </div> -->

  
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="dismiss()">Close</button>
  <button type="button" class="btn btn-primary" (click)="submit()"  >Submit</button>  
  <!-- [disabled]="!checkoutForm.valid" -->
</div>
